#offerCards{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#offerCards .card {
    background-color: #020704;
    height: 350px;
    width: 30%;
    padding : 30px 20px;
    color: #eeeeee;
    margin : 20px;
    border-radius: 20px;
    transition: 300ms;
    cursor: default;
}

#offerCards .card:hover {
    filter: drop-shadow(0px 0px 18px #111111);
    transform: scale(1.05);
}

#offerCards .card .cardSVG{
    font-size: 120px;
    padding: 20px;
    transition: 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

#offerCards .card .cardSVG{
    position: relative;
    bottom: 60px;
    filter: drop-shadow(0px 0px 13px #111111);
}

#offerCards .card:hover .cardSVG i{
    filter: none
}

#offerCards .card .cardTitle {
    font-family: 'Lexend', sans-serif;
    color: #d4b815;
    height : 80px;
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#offerCards .card .cardTitle .emoji {
    font-size: 40px;
}

#offerCards .card .cardTitle .text {
    margin-left: 10px;
    font-size: 25px;

}

#offerCards .card .cardDescription {
    font-size: 1.1em;
    color: #ccc;
    font-family: 'Lexend', sans-serif;
    width: 350px;
    margin: auto;
    text-align: justify;
}

#offerCards .cardHeading{
    margin-bottom: 65px;
}

#offerCards .card .processFlow {
    font-size: 0.95em;
    color: #aaa;
    font-style: italic;
    font-family: 'Source Code Pro', monospace;
    width: 350px;
    margin: auto;
    margin-top: 40px;
    text-align: justify;
}